.Simon {
  text-align: center;
  color: yellow;
}

.indexBody {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  min-height: 100vh;
}

.section1 {
  flex: 0, 1vh;
  background-color: darkgray;
}
.section1 menu{
  display: flex;
  color: white;
  flex-direction: row;
  text-align: center;
  -ms-flex-align: center;
  
}
.section1 menu > * {
  flex: 1;
  color: white;
  text-align: center;
}

.section2 {
  text-align: center;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section2 > *{
  flex: 1;
  justify-content: center;
}

.section2p {
  text-align: center;
  flex: 0 80vh;
}

.section3 {
  flex: 1;
  background-color: green;
}

.game {
  background: rgb(0, 0, 0);
  border-radius: 50%;
  box-shadow: 0 0 20px 5px rgb(69, 69, 69);
  width: 80vw;
  height: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 350px;
  min-height: 350px;
  max-width: min(60vmin, 1000px);
  max-height: min(60vmin, 1000px);
}

.button-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.button-top-left {
  border-radius: 100% 0 0 0;
  margin: 20px 0 0 20px;
  background-color: green;
  border: thick solid rgb(36, 53, 0);
}

.button-top-right {
  border-radius: 0 100% 0 0;
  margin: 20px 20px 0 0;
  background-color: red;
  border: thick solid rgb(83, 12, 12);
}

.button-bottom-left {
  border-radius: 0 0 0 100%;
  margin: 0 0 20px 20px;
  background-color: yellow;
  border: thick solid rgb(130, 124, 13);
}

.button-bottom-right {
  border-radius: 0 0 100% 0;
  margin: 0 20px 20px 0;
  background-color: blue;
  border: thick solid rgb(27, 14, 100);
}

.controls {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: black;
  padding: 2em;
  display: flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center {
  color: red;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}